<!DOCTYPE html>
<html lang="en">

<head>
	<title>Pens Gate: Contact Us</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top scrolled" style="margin-bottom:0px; top: 0;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
				<!-- <a class="navbar-brand" href="/"><img src="/images/logo_edit.png" alt="Logo" style="height: 100%"></a>  -->
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Services <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#photography">Photography</a></li>
							<li><a href="#graphic-design">Graphic Design</a></li>
							<li><a href="#audio-video">Audio/Video</a></li>
							<li><a href="#digital-marketing">Digital Marketing</a></li>
						</ul>
					</li>
					<li><a href="#">Portfolio</a></li>
					<li class="whiten-bg"><a href="/"><img src="/images/logo_edit.png" alt="Logo" style="height: 40px;"></a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">About</a></li>
				</ul>
				<!--<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>-->
			</div>
		</div>
	</nav>
</body>

</html>