<!DOCTYPE html>
<html lang="en">

<head>
	<title>Pens Gate: Contact Us</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top scrolled" style="margin-bottom:0px; top: 0;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
				<!-- <a class="navbar-brand" href="/"><img src="/images/logo_edit.png" alt="Logo" style="height: 100%"></a>  -->
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="dropdown nav-push-down">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:#444;">Services <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#photography">Photography</a></li>
							<li><a href="#graphic-design">Graphic Design</a></li>
							<li><a href="#digital-marketing">Digital Marketing</a></li>
							<li><a href="#audio-video">Audio/Video</a></li>
						</ul>
					</li>
					<li class="nav-push-down"><a href="/portfolio" style="color:#444;">Portfolio</a></li>
					<li class="whiten-bg"><a href="/"><img src="/images/logo_edit.png" alt="Logo" style="height: 40px;"></a></li>
					<li class="nav-push-down"><a href="/about" style="color:#444;">About</a></li>
					<li class="nav-push-down"><a href="/contact" style="color:#444;">Contact Us</a></li>
				</ul>
				<!--<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>-->
			</div>
		</div>
	</nav>
	<img src="/images/content2/contactus.jpg" alt="Up Image" style="width: 100%; max-height: 500px;">
	<div class="container" style="padding-top: 40px; padding-bottom: 40px;">
		<div class="col-sm-8">
			<div>
				<h2>Contact Us</h2>
				<p><span class="contact-field-highlight">Number: </span>(+2) 01001367093</p>
				<p><span class="contact-field-highlight">Email: </span>pensgate@hotmail.com - moaz_m40@hotmail.com</p>
				<p><span class="contact-field-highlight">Address: </span></p>
				<p><span class="contact-field-highlight"><a href="https://www.facebook.com/pensgate/">Facebook</a></span></p>
				<p><span class="contact-field-highlight"><a href="https://www.youtube.com/channel/UC4FulWKH8iveAqQm2dDF91Q">Youtube</a></span></p>
				<p><a href="mailto:moaz_m40@hotmail.com">Send us an email now</a></p>
			</div>
		</div>
		<div class="col-sm-4">
			<div style="max-width: 500px;">
				<div class="text-center" style="width: 100%; height: 400px; background: url('/images/content2/36.jpg'); background-size: cover; background-position: 30% 50%; border-radius: 50%;">
					<!-- <img src="/images/content2/36.jpg" alt="Moaz Mohamed" style="max-width: inherit; border-radius: 70%;"> -->
				</div>
				<div class="text-center">
					<h5>Founder of Pens Gate</h5>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container-fluid text-center">
			<div class="col-sm-3">
				<h4>Contact Us</h4>
				<p>Email: pensgate@hotmail.com - moaz_m40@hotmail.com</p>
				<p><a href="mailto:moaz_m40@hotmail.com">Send us an email</a></p>
				<p>Mobile: (+2) 01001367093</p>
				<hr>
				<!-- <h4>Address</h4> -->
				<!-- <p>221B Baker Street, London, UK</p> -->
			</div>
			<div class="col-sm-5">
				<h4>Services</h4>
				<p><a href="/service/graphicdesign">Digital Marketing & Web Design</a></p>
				<p><a href="/service/outdoorads">Outdoor Advertising</a></p>
				<p><a href="/service/promotions">Promotions</a></p>
				<p><a href="/service/interactive">Interactive</a></p>
				<p><a href="/service/webdesign">Website design/Ecommerce</a></p>
				<p><a href="/service/onlinemarketing">Online Marketing</a></p>
				<p><a href="/service/video">Video Shooting</a></p>
				<p><a href="/service/photography">Photography</a></p>
				<p><a href="/service/radio">Radio Advertising</a></p>
				<p><a href="/service/promotional">Promotional Items</a></p>
				<p><a href="/service/modeling">3D Modeling</a></p>
				<p><a href="/service/production">Production Services</a></p>
				<!-- <p><a href="/service/photography">Photography & Video Shooting</a></p>
				<p><a href="/service/digitalmarketing">DIGITAL MARKETING & WEB DESIGN</a></p>
				<p><a href="/service/outdoorads">Outdoor Advertising</a></p>
				<p><a href="/service/printing">Printing</a></p> -->
			</div>
			<div class="col-sm-4" style="padding: 20px;">
				Find us on <a href="https://www.facebook.com/pensgate/"><img src="/images/facebook.png" alt="facebook" height="20px" style="border-radius: 2px;"></a>
				<a href="https://www.youtube.com/channel/UC4FulWKH8iveAqQm2dDF91Q"><img src="/images/youtube.png" alt="youtube" height="20px"></a>
				<div class="footer-big-links">
					<p><a href="/portfolio">Portfolio</a></p>
					<p><a href="/about">About</a></p>
					<p><a href="/contact">Contact Us</a></p>
				</div>
				<div style="padding-top: 100px;">
					<div>Copy Rights Pens Gate 2017</div>
					<div>Made by <a href="http://www.omarwaleed.com">Omar Waleed</a></div>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>