<!DOCTYPE html>
<html lang="en">

<head>
	<title>Pens Gate: Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/slick.css" rel="stylesheet">
	<link href="css/slick-theme.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slick.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom:0px; top: 0;" id="mynavbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
				<!-- <a class="navbar-brand" href="/"><img src="/images/logo_edit.png" alt="Logo" style="height: 100%"></a>  -->
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="dropdown nav-push-down">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Services <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#webdesign">Digital Marketing & Web Design</a></li>
							<li><a href="#outdoorads">Outdoor Advertising</a></li>
							<li><a href="#promotions">Promotions</a></li>
							<li><a href="#interactive">Interactive</a></li>
							<li><a href="#webdesign">Website design/Ecommerce</a></li>
							<li><a href="#onlinemarketing">Online Marketing</a></li>
							<li><a href="#video">Video Shooting</a></li>
							<li><a href="#photography">Photography</a></li>
							<li><a href="#radio">Radio Advertising</a></li>
							<li><a href="#promotional">Promotional Items</a></li>
							<li><a href="#modeling">3D Modeling</a></li>
							<li><a href="#production">Production Services</a></li>
							<!-- <li><a href="#printing">Printing</a></li> -->
						</ul>
					</li>
					<li class="nav-push-down"><a href="/portfolio">Portfolio</a></li>
					<li class="whiten-bg"><a href="/"><img src="/images/logo_edit.png" alt="Logo" style="height: 40px;"></a></li>
					<li class="nav-push-down"><a href="/about">About</a></li>
					<li class="nav-push-down"><a href="/contact">Contact Us</a></li>
				</ul>
				<!--<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>-->
			</div>
		</div>
	</nav>
	<!-- <span class="gototop"><a href="#mynavbar">Go To Top</a></span> -->
	<a href="#0" class="cd-top">Top</a>

	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<!-- <li data-target="#myCarousel" data-slide-to="3"></li> -->
		<!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<a href="#"><img src="/images/content/video0.jpg" alt="Audio Video"></a>
			<div class="carousel-caption">
				<h3>Outdoor Advertising</h3>
				<p>High conversion guaranteed</p>
			</div> 
		</div>

		<div class="item">
			<a href="#"><img src="/images/content/photo7.jpg" alt="In the bag"></a>
			<div class="carousel-caption">
				<h3>Photography</h3>
				<p>Beautify reality with high resolution photo sessions</p>
			</div> 
		</div>

		<div class="item">
			<a href="#"><img src="/images/content/print3.jpg" alt="In the bag"></a>
			<div class="carousel-caption">
				<h3>Printing</h3>
				<p>Print perfection to your customers</p>
			</div> 
		</div>

		<!-- <div class="item">
			<a href="#"><img src="/images/logo_edit.png" alt="Pens Gate"></a>
			<div class="carousel-caption">
				<h3>Pens Gate</h3>
				<p>Home of all your design needs</p>
			</div> 
		</div> -->

		<!--<div class="item">
		<img src="la.jpg" alt="Los Angeles">
		<div class="carousel-caption">
			<h3>LA</h3>
			<p>Even though the traffic was a mess, we had the best time.</p>
		</div> 
		</div>-->
	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
	</div>

	<!--<img src="/images/main.jpg" alt="main.jpg" width="100%" class="darken-image">-->
	<div class="distance" id="webdesign">
		<div class="container">
			<div class="text-center" style="float: none; margin: 0 auto;">
				<div class="col-lg-6 half-distance">
					<div>
						<img src="/images/digital marketing.jpg" alt="Graphic Design" class="homepage-image"><br>
					</div>
				</div>
				<div class="col-lg-6 main-content">
					<h2 class="col-lg-12"><a href="/service/webdesign">Digital Marketing & Web Design</a></h2>
					<p>Digital marketing become the trend of our era because now a company without a website like a company with no address. We design simple website and complex online payments stores. We also follow up the traffic, prepare all the digital marketing strategy and website development.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="distance other-bg" id="outdoorads">
		<div class="container">
			<div class="text-center" style="float: none; margin: 0 auto;">
				<div class="col-lg-6 main-content">
					<h2 class="col-lg-12"><a href="/service/outdoorads">Outdoor Advertising</a></h2>
					<p>Smart marketers have the opportunity to bring outdoor advertising campaigns to their consumers in a powerful and effective way. Pens gate makes this connection possible as we provide concept to completion support from design, production and installation are all within the scope of our outdoor service.</p>
				</div>
				<div class="col-lg-6 half-distance">
					<div>
						<img src="/images/content/print0.jpg" alt="Priting" class="homepage-image"><br>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="distance" id="promotions">
		<div class="container">
			<div class="text-center" style="float: none; margin: 0 auto;">
				<div class="col-lg-6 half-distance">
					<div>
						<img src="/images/content/print2.jpg" alt="Promotions" class="homepage-image"><br>
					</div>
				</div>
				<div class="col-lg-6 main-content">
					<h2 class="col-lg-12"><a href="/service/promotions">Promotions</a></h2>
					<p>Take the lead with your promotions. Whatever your requirements, pens gate have it all. About 65% of purchasing decisions is made exactly at the point of sales, in fact, point-of-sale-materials has an instant affect on purchasing decisions. Pens Gate POS-materials are of a great quality, reliability and durability since we have solid production background with excellent resources.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="distance other-bg" id="interactive">
		<div class="container">
			<div class="text-center" style="float: none; margin: 0 auto;">
				<div class="col-lg-6 main-content">
					<h2 class="col-lg-12"><a href="/service/interactive">Interactive</a></h2>
					<p>Our creative and production experts combine the best in copywriting, digital graphics, videography, animation, voice-overs and music to create attention-grabbing, riveting productions. Whether it’s TV , radio, on-line streaming media, SD or HD video, or interactive social networking websites or viral marketing videos for YouTube Vimeo and much more .</p>
				</div>
				<div class="col-lg-6 half-distance">
					<div>
						<img src="/images/content/photo360.jpg" alt="Interactive" class="homepage-image"><br>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="distance" id="webdesign">
		<div class="container">
			<div class="text-center" style="float: none; margin: 0 auto;">
				<div class="col-lg-6 half-distance">
					<div>
						<img src="/images/digital marketing.jpg" alt="Web Design" class="homepage-image"><br>
					</div>
				</div>
				<div class="col-lg-6 main-content">
					<h2 class="col-lg-12"><a href="/service/webdesign">Website design/Ecommerce</a></h2>
					<p>Enhance your brand and deliver inquiries <br>Pens Gate Propaganda brings visual, technical, business and user-experience strategies together, creating powerful and profitable websites. <br>We understand business issues and the importance of aligning on and offline strategies as part of brand development and creating vital links with your customers to drive response, sales and build strong, memorable relationships with your customers.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="distance other-bg" id="onlinemarketing">
		<div class="container">
			<div class="text-center" style="float: none; margin: 0 auto;">
				<div class="col-lg-6 main-content">
					<h2 class="col-lg-12"><a href="/service/onlinemarketing">Online Marketing</a></h2>
					<p><br>Do you like the web to work for you? Engage, connect and build trust with your customers..<br>Are you trying to improve your online marketing results? Do you want to get your brand or business higher on Google through SEO (Search Engine Optimisation)? Do you want to generate more business online?<br>As communication channels continue to blur between traditional and digital media it’s vital to plan on how to capture the attention and seek out new and interesting ways to engage.<br>The secret to accurate planning is consumer insight to really know how and when to engage your audience. We use the latest techniques to understand what part digital plays in any group’s habits or media consumption.</p>
				</div>
				<div class="col-lg-6 half-distance">
					<div>
						<img src="/images/content/photo0.jpg" alt="online marketing" class="homepage-image"><br>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="distance" id="video">
		<div class="container">
			<div class="text-center" style="float: none; margin: 0 auto;">
				<div class="col-lg-6 half-distance">
					<div>
						<img src="/images/content/video2.jpg" alt="Vide Shooting" class="homepage-image"><br>
					</div>
				</div>
				<div class="col-lg-6 main-content">
					<h2 class="col-lg-12"><a href="/service/video">Video Shooting</a></h2>
					<p>It about creative ideas and aspirations to create the perfect video telling a great story with flair and creativity We at Pens Gate managed video productions with many diverse companies, products and cinema with expertise in TV productions/advertising commercials, branding and business events, Pens gate has a highly trained team of media professionals with combined skills of well planning, creativity and captivating videos.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="distance other-bg" id="photography">
		<div class="container">
			<div class="text-center" style="float: none; margin: 0 auto;">
				<div class="col-lg-6 main-content">
					<h2 class="col-lg-12"><a href="/service/photography">Photography</a></h2>
					<p>Pens gate considers carefully the entire photographic process from location hunting to set building, casting to styling, we’re here to provide an efficient and flexible service whatever the need, budget or timescale. Our photographic rates vary according to what your needs are. We pay careful attention to detail and we are proud of every picture we take.</p>
				</div>
				<div class="col-lg-6 half-distance">
					<div>
						<img src="/images/shooting.jpg" alt="Photoshooting" class="homepage-image"><br>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="distance" id="radio">
		<div class="container">
			<div class="text-center" style="float: none; margin: 0 auto;">
				<div class="col-lg-6 half-distance">
					<div>
						<img src="/images/main.jpg" alt="Radio" class="homepage-image"><br>
					</div>
				</div>
				<div class="col-lg-6 main-content">
					<h2 class="col-lg-12"><a href="/service/radio">Radio Advertising</a></h2>
					<ul style="list-style: none;">
						<li>We’ll grow your profits with direct response radio advertising.</li>
						<li>Maximize your success.</li>
						<li>Deliver the right message at the right cost.</li>
						<li>Get new customers.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="distance other-bg" id="promotional">
		<div class="container">
			<div class="text-center" style="float: none; margin: 0 auto;">
				<div class="col-lg-6 main-content">
					<h2 class="col-lg-12"><a href="/service/promotional">Promotional Items</a></h2>
					<p>Creatively advertise your company <br>We are here to complement your advertising with high-quality giveaway items as we take your advertising needs EXTREMELY serious. Pens gate have a wide range of products, items and merchandise for any marketing event, conference, tradeshows and corporate gifts as well</p>
				</div>
				<div class="col-lg-6 half-distance">
					<div>
						<img src="/images/print-selection.jpg" alt="Promotional" class="homepage-image"><br>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="distance" id="modeling">
		<div class="container">
			<div class="text-center" style="float: none; margin: 0 auto;">
				<div class="col-lg-6 half-distance">
					<div>
						<img src="/images/content/photo3.jpg" alt="Modeling" class="homepage-image"><br>
					</div>
				</div>
				<div class="col-lg-6 main-content">
					<h2 class="col-lg-12"><a href="/service/modeling">3D Modeling</a></h2>
					<p>If you don’t have perfect 2D drawings it won’t be a problem: our designers can create an accurate 3D model from a rough sketch. Based on the client’s request, we build sophisticated 3D models for prototyping, presentations or other applications. Whether you want to create your new product catalogue or looking for ways to impress licensors, a realistic 3D model will help you.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="distance other-bg" id="production">
		<div class="container">
			<div class="text-center" style="float: none; margin: 0 auto;">
				<div class="col-lg-6 main-content">
					<h2 class="col-lg-12"><a href="/service/production">Production Services</a></h2>
					<p>You will get noticed From offset printing ,digital large format printing to most complicated materials and installations, all are produced and delivered on-time – on-budget Our production services as follows.</p>
				</div>
				<div class="col-lg-6 half-distance">
					<div>
						<img src="/images/content/print5.jpg" alt="Production" class="homepage-image"><br>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--<div class="distance">
		<div class="container">
			<div class="text-center" style="float: none; margin: 0 auto;">
				<h2 class="col-sm-12"><a href="/services/video">Video</a></h2>
				<div class="col-sm-12 half-distance">
					<div class="col-sm-6 col-sm-offset-3">
						<img src="/images/efficientvideo.jpg" alt="Video" class="homepage-image"><br>
					</div>
				</div>
				<p>Duis velit eu officia dolore et nostrud dolore mollit voluptate magna excepteur amet pariatur. Lorem velit esse sint eu mollit mollit anim esse irure do excepteur occaecat incididunt. Eiusmod deserunt elit veniam veniam labore. Labore dolore in fugiat ad fugiat. Ullamco aute sit ex ex qui fugiat nulla consectetur cupidatat est enim dolore proident adipisicing. Minim amet in ad sit quis dolor dolor id. Ut aliquip ut sint velit minim.</p>
			</div>
		</div>
	</div>-->
	<div class="slicker" style="padding: 20px 0px;">
		<!-- <img src="/images/digital marketing.jpg" alt=" Digital Marketing" style="max-height: 300px;">
		<img src="/images/kursus-editing-video.jpg" alt="Editing Videos" style="max-height: 300px;">
		<img src="/images/efficientvideo.jpg" alt="Video" style="max-height: 300px;">
		<img src="/images/shooting.jpg" alt="Photo Shooting" style="max-height: 300px;"> -->
		<img src="/images/logos/bm.png" alt=" Digital Marketing" style="max-height: 200px; height: 200px;">
		<img src="/images/logos/logo 2.jpg" alt="Editing Videos" style="max-height: 200px;">
		<img src="/images/logos/logo.jpg" alt="Video" style="max-height: 200px;">
		<img src="/images/logos/wing finall.jpg" alt="Photo Shooting" style="max-height: 200px;">
		<img src="/images/logos/GM logo.jpg" alt="Photo Shooting" style="max-height: 200px;">
	</div>
	<script>
		$('.slicker').slick({
			dots: true,
			infinite: true,
			speed: 300,
			slidesToShow: 1,
			centerMode: true,
			variableWidth: true,
			autoplay: true,
  			autoplaySpeed: 2000,
			// infinite: true,
			// slidesToShow: 3,
			// slidesToScroll: 3
		});
	</script>
	<div style="padding: 60px 100px" id="counter" class="container text-center">
		<div class="col-sm-4"><span class="counter-value counter-styler" data-count="20">0</span><span class="counter-styler">+</span> <span class="counter-after text-capitalize">satisifed customers</span><hr></div>
		<div class="col-sm-4"><span class="counter-value counter-styler" data-count="10">0</span><span class="counter-styler">+</span> <span class="counter-after text-capitalize">services provided</span><hr></div>
		<div class="col-sm-4"><span class="counter-value counter-styler" data-count="50">0</span><span class="counter-styler">+</span> <span class="counter-after text-capitalize">projects completed</span><hr></div>
		 <script>
			var a = 0;
			$(window).scroll(function() {

			var oTop = $('#counter').offset().top - window.innerHeight;
			if (a == 0 && $(window).scrollTop() > oTop) {
				$('.counter-value').each(function() {
				var $this = $(this),
					countTo = $this.attr('data-count');
				$({
					countNum: $this.text()
				}).animate({
					countNum: countTo
					},

					{

					duration: 1500,
					easing: 'swing',
					step: function() {
						$this.text(Math.floor(this.countNum));
					},
					complete: function() {
						$this.text(this.countNum);
						//alert('finished');
					}

					});
				});
				a = 1;
			}

			});
		</script> 
	</div>

	<footer>
		<div class="container-fluid text-center">
			<div class="col-sm-3">
				<h4>Contact Us</h4>
				<p>Email: pensgate@hotmail.com - moaz_m40@hotmail.com</p>
				<p><a href="mailto:moaz_m40@hotmail.com">Send us an email</a></p>
				<p>Mobile: (+2) 01001367093</p>
				<hr>
				 <h4>Address</h4> 
				 <p> Al Obour industrial City Unite 21 - Division 12001 Northem Extension</p> 
			</div>
			<div class="col-sm-5">
				<h4>Services</h4>
				<p><a href="/service/webdesign">Digital Marketing & Web Design</a></p>
				<p><a href="/service/outdoorads">Outdoor Advertising</a></p>
				<p><a href="/service/promotions">Promotions</a></p>
				<p><a href="/service/interactive">Interactive</a></p>
				<p><a href="/service/webdesign">Website design/Ecommerce</a></p>
				<p><a href="/service/onlinemarketing">Online Marketing</a></p>
				<p><a href="/service/video">Video Shooting</a></p>
				<p><a href="/service/photography">Photography</a></p>
				<p><a href="/service/radio">Radio Advertising</a></p>
				<p><a href="/service/promotional">Promotional Items</a></p>
				<p><a href="/service/modeling">3D Modeling</a></p>
				<p><a href="/service/production">Production Services</a></p>
				<!-- <p><a href="/service/photography">Photography & Video Shooting</a></p>
				<p><a href="/service/digitalmarketing">DIGITAL MARKETING & WEB DESIGN</a></p>
				<p><a href="/service/outdoorads">Outdoor Advertising</a></p>
				<p><a href="/service/printing">Printing</a></p> -->
			</div>
			<div class="col-sm-4" style="padding: 20px;">
				Find us on <a href="https://www.facebook.com/pensgate/"><img src="/images/facebook.png" alt="facebook" height="20px" style="border-radius: 2px;"></a>
				<a href="https://www.youtube.com/channel/UC4FulWKH8iveAqQm2dDF91Q"><img src="/images/youtube.png" alt="youtube" height="20px"></a>
				<div class="footer-big-links">
					<p><a href="/portfolio">Portfolio</a></p>
					<p><a href="/about">About</a></p>
					<p><a href="/contact">Contact Us</a></p>
				</div>
				<div style="padding-top: 100px;">
					<div>Copy Rights Pens Gate 2017</div>
					<div>Made by <a href="http://www.omarwaleed.com">Omar Waleed</a></div>
				</div>
			</div>
		</div>
	</footer>
</body>
<script>
	$(function () {
		$(document).scroll(function () {
			var $nav = $(".navbar-fixed-top");
			$nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
			$nav = $(".navbar-default");
			$nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
			$nav = $(".navbar-nav>li>a");
			$nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
		});
	});
</script>
<script>
	jQuery(document).ready(function($){
		// browser window scroll (in pixels) after which the "back to top" link is shown
		var offset = 300,
			//browser window scroll (in pixels) after which the "back to top" link opacity is reduced
			offset_opacity = 1200,
			//duration of the top scrolling animation (in ms)
			scroll_top_duration = 700,
			//grab the "back to top" link
			$back_to_top = $('.cd-top');

		//hide or show the "back to top" link
		$(window).scroll(function(){
			( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
			if( $(this).scrollTop() > offset_opacity ) { 
				$back_to_top.addClass('cd-fade-out');
			}
		});

		//smooth scroll to top
		$back_to_top.on('click', function(event){
			event.preventDefault();
			$('body,html').animate({
				scrollTop: 0 ,
				}, scroll_top_duration
			);
		});
	});
</script>
</html>