<!DOCTYPE html>
<html lang="en">

<head>
	<title>Pens Gate: Portfolio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom:0px; top: 0;" id="mynavbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
				<!-- <a class="navbar-brand" href="/"><img src="/images/logo_edit.png" alt="Logo" style="height: 100%"></a>  -->
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="dropdown nav-push-down">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Services <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/service/webdesign">Digital Marketing & Web Design</a></li>
							<li><a href="/service/outdoorads">Outdoor Advertising</a></li>
							<li><a href="/service/promotions">Promotions</a></li>
							<li><a href="/service/interactive">Interactive</a></li>
							<li><a href="/service/webdesign">Website design/Ecommerce</a></li>
							<li><a href="/service/onlinemarketing">Online Marketing</a></li>
							<li><a href="/service/video">Video Shooting</a></li>
							<li><a href="/service/photography">Photography</a></li>
							<li><a href="/service/radio">Radio Advertising</a></li>
							<li><a href="/service/promotional">Promotional Items</a></li>
							<li><a href="/service/modeling">3D Modeling</a></li>
							<li><a href="/service/production">Production Services</a></li>
							<!-- <li><a href="#printing">Printing</a></li> -->
						</ul>
					</li>
					<li class="nav-push-down"><a href="/portfolio">Portfolio</a></li>
					<li class="whiten-bg"><a href="/"><img src="/images/logo_edit.png" alt="Logo" style="height: 40px;"></a></li>
					<li class="nav-push-down"><a href="/about">About</a></li>
					<li class="nav-push-down"><a href="/contact">Contact Us</a></li>
				</ul>
				<!--<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>-->
			</div>
		</div>
	</nav>
	<!-- <img src="/images/kursus-editing-video.jpg" alt="Up Image" style="width: 100%"> -->
	<div style="width: 100%; height: 500px; background: url('/images/content2/portfolio.jpg'); background-size: cover; background-position: center 90%;"></div>
	<div class="container" style="padding-top: 80px;">
		<div class="col-sm-3 portfolio-container">
			<img src="/images/logos/bm.png" alt="portfolio1" class="portfolio-img">
			<div>
				BM
			</div>
		</div>
		<!-- <div class="col-sm-3 portfolio-container">
			<img src="/images/logos/GM logo.jpg" alt="portfolio2" class="portfolio-img">
			<div>
				Golden Metal Group
			</div>
		</div> -->
		<div class="col-sm-3 portfolio-container">
			<img src="/images/logos/image001.jpg" alt="portfolio3" class="portfolio-img">
			<div>
				Accsight
			</div>
		</div>
		<div class="col-sm-3 portfolio-container">
			<img src="/images/logos/logo.jpg" alt="portfolio4" class="portfolio-img">
			<div>
				Bural
			</div>
		</div>
		<div class="col-sm-3 portfolio-container">
			<img src="/images/logos/logo 2.jpg" alt="portfolio5" class="portfolio-img">
			<div>
				United
			</div>
		</div>
		<div class="col-sm-3 portfolio-container">
			<img src="/images/logos/logo 23.png" alt="portfolio6" class="portfolio-img">
			<div>
				Golden Stock FX
			</div>
		</div>
		<div class="col-sm-3 portfolio-container">
			<img src="/images/logos/logo copy.png" alt="portfolio7" class="portfolio-img">
			<div>
				Golden Metal Group
			</div>
		</div>
		<div class="col-sm-3 portfolio-container">
			<img src="/images/logos/logo حافظ.png" alt="portfolio8" class="portfolio-img">
			<div>
				Hydro Mechanical
			</div>
		</div>
		<div class="col-sm-3 portfolio-container">
			<img src="/images/logos/MPI-logo.png" alt="portfolio9" class="portfolio-img">
			<div>
				MPI
			</div>
		</div>
	</div>
	<div style="padding-top: 30px;">
		<div class="col-sm-3 col-sm-offset-3 portfolio-container">
			<img src="/images/logos/wing finall.jpg" alt="portfolio10" class="portfolio-img">
			<div>
				ATP
			</div>
		</div>
		<div class="col-sm-3 portfolio-container">
			<img src="/images/logos/لوجو البيت المعمور.png" alt="portfolio11" class="portfolio-img">
			<div>
				Al Bayt Al Maamour
			</div>
		</div>
	</div>
	<footer>
		<div class="container-fluid text-center">
			<div class="col-sm-3">
				<h4>Contact Us</h4>
				<p>Email: pensgate@hotmail.com - moaz_m40@hotmail.com</p>
				<p><a href="mailto:moaz_m40@hotmail.com">Send us an email</a></p>
				<p>Mobile: (+2) 01001367093</p>
				<hr>
				 <h4>Address</h4> 
				 <p> Al Obour industrial City Unite 21 - Division 12001 Northem Extension</p> 
			</div>
			<div class="col-sm-5">
				<h4>Services</h4>
				<p><a href="/service/webdesign">Digital Marketing & Web Design</a></p>
				<p><a href="/service/outdoorads">Outdoor Advertising</a></p>
				<p><a href="/service/promotions">Promotions</a></p>
				<p><a href="/service/interactive">Interactive</a></p>
				<p><a href="/service/webdesign">Website design/Ecommerce</a></p>
				<p><a href="/service/onlinemarketing">Online Marketing</a></p>
				<p><a href="/service/video">Video Shooting</a></p>
				<p><a href="/service/photography">Photography</a></p>
				<p><a href="/service/radio">Radio Advertising</a></p>
				<p><a href="/service/promotional">Promotional Items</a></p>
				<p><a href="/service/modeling">3D Modeling</a></p>
				<p><a href="/service/production">Production Services</a></p>
				<!-- <p><a href="/service/photography">Photography & Video Shooting</a></p>
				<p><a href="/service/digitalmarketing">DIGITAL MARKETING & WEB DESIGN</a></p>
				<p><a href="/service/outdoorads">Outdoor Advertising</a></p>
				<p><a href="/service/printing">Printing</a></p> -->
			</div>
			<div class="col-sm-4" style="padding: 20px;">
				Find us on <a href="https://www.facebook.com/pensgate/"><img src="/images/facebook.png" alt="facebook" height="20px" style="border-radius: 2px;"></a>
				<a href="https://www.youtube.com/channel/UC4FulWKH8iveAqQm2dDF91Q"><img src="/images/youtube.png" alt="youtube" height="20px"></a>
				<div class="footer-big-links">
					<p><a href="/portfolio">Portfolio</a></p>
					<p><a href="/about">About</a></p>
					<p><a href="/contact">Contact Us</a></p>
				</div>
				<div style="padding-top: 100px;">
					<div>Copy Rights Pens Gate 2017</div>
					<div>Made by <a href="http://www.omarwaleed.com">Omar Waleed</a></div>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>