<!DOCTYPE html>
<html lang="en">

<head>
	<title>Pens Gate: <%= title %></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/slick.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom:0px; top: 0;" id="mynavbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
				<!-- <a class="navbar-brand" href="/"><img src="/images/logo_edit.png" alt="Logo" style="height: 100%"></a>  -->
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="dropdown nav-push-down">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Services <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/service/webdesign">Digital Marketing & Web Design</a></li>
							<li><a href="/service/outdoorads">Outdoor Advertising</a></li>
							<li><a href="/service/promotions">Promotions</a></li>
							<li><a href="/service/interactive">Interactive</a></li>
							<li><a href="/service/webdesign">Website design/Ecommerce</a></li>
							<li><a href="/service/onlinemarketing">Online Marketing</a></li>
							<li><a href="/service/video">Video Shooting</a></li>
							<li><a href="/service/photography">Photography</a></li>
							<li><a href="/service/radio">Radio Advertising</a></li>
							<li><a href="/service/promotional">Promotional Items</a></li>
							<li><a href="/service/modeling">3D Modeling</a></li>
							<li><a href="/service/production">Production Services</a></li>
							<!-- <li><a href="#printing">Printing</a></li> -->
						</ul>
					</li>
					<li class="nav-push-down"><a href="/portfolio">Portfolio</a></li>
					<li class="whiten-bg"><a href="/"><img src="/images/logo_edit.png" alt="Logo" style="height: 40px;"></a></li>
					<li class="nav-push-down"><a href="/about">About</a></li>
					<li class="nav-push-down"><a href="/contact">Contact Us</a></li>
				</ul>
				<!--<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>-->
			</div>
		</div>
	</nav>
	<!-- <span class="gototop"><a href="#mynavbar">Go To Top</a></span> -->
    <a href="#0" class="cd-top">Top</a>
    <div style="width: 100%; height: 400px; background: url('/images/content/print5.jpg'); background-size: cover; background-position: center 55%;"></div>
	<!-- <img src="/images/content/print5.jpg" alt="Photoshooting" style="width: 100%; max-height: 550px;"> -->
	<div class="container" style="padding: 40px 0px;">
        <div style="padding-left: 20px;">
            <h2>Web Design & Development / Ecommerce</h2>
            <ol style="font-size: 18px;">
                <h5>Enhance your brand and deliver inquiries</h5>
				<h5>Pens Gate Propaganda brings visual, technical, business and user-experience strategies together, creating powerful and profitable websites.</h5>
				<h5>We understand business issues and the importance of aligning on and offline strategies as part of brand development and creating vital links with your customers to drive response, sales and build strong, memorable relationships with your customers.</h5>
				<!-- <h3>Website design / development</h3> -->
				<h5>Our different approach in each and every industry/business is our edge. We listen, study and see what’s your unique selling proposition and competitive advantage within your industry before presenting our creative advertising/communication solutions. We understand that your website is your digital brand. We’re not just talking about the consistency of your logo, corporate colors and content – Pens gate focuses on the features, functionality and overall user experience that represent your brand</h5>
            </ol>
        </div>
	</div>
	<footer>
		<div class="container-fluid text-center">
			<div class="col-sm-3">
				<h4>Contact Us</h4>
				<p>Email: pensgate@hotmail.com - moaz_m40@hotmail.com</p>
				<p><a href="mailto:moaz_m40@hotmail.com">Send us an email</a></p>
				<p>Mobile: (+2) 01001367093</p>
				<hr>
				 <h4>Address</h4> 
				 <p> Al Obour industrial City Unite 21 - Division 12001 Northem Extension</p> 
			</div>
			<div class="col-sm-5">
				<h4>Services</h4>
				<p><a href="/service/webdesign">Digital Marketing & Web Design</a></p>
				<p><a href="/service/outdoorads">Outdoor Advertising</a></p>
				<p><a href="/service/promotions">Promotions</a></p>
				<p><a href="/service/interactive">Interactive</a></p>
				<p><a href="/service/webdesign">Website design/Ecommerce</a></p>
				<p><a href="/service/onlinemarketing">Online Marketing</a></p>
				<p><a href="/service/video">Video Shooting</a></p>
				<p><a href="/service/photography">Photography</a></p>
				<p><a href="/service/radio">Radio Advertising</a></p>
				<p><a href="/service/promotional">Promotional Items</a></p>
				<p><a href="/service/modeling">3D Modeling</a></p>
				<p><a href="/service/production">Production Services</a></p>
				<!-- <p><a href="/service/photography">Photography & Video Shooting</a></p>
				<p><a href="/service/digitalmarketing">DIGITAL MARKETING & WEB DESIGN</a></p>
				<p><a href="/service/outdoorads">Outdoor Advertising</a></p>
				<p><a href="/service/printing">Printing</a></p> -->
			</div>
			<div class="col-sm-4" style="padding: 20px;">
				Find us on <a href="https://www.facebook.com/pensgate/"><img src="/images/facebook.png" alt="facebook" height="20px" style="border-radius: 2px;"></a>
				<a href="https://www.youtube.com/channel/UC4FulWKH8iveAqQm2dDF91Q"><img src="/images/youtube.png" alt="youtube" height="20px"></a>
				<div class="footer-big-links">
					<p><a href="/portfolio">Portfolio</a></p>
					<p><a href="/about">About</a></p>
					<p><a href="/contact">Contact Us</a></p>
				</div>
				<div style="padding-top: 100px;">
					<div>Copy Rights Pens Gate 2017</div>
					<div>Made by <a href="http://www.omarwaleed.com">Omar Waleed</a></div>
				</div>
			</div>
		</div>
	</footer>
</body>

<script>
	jQuery(document).ready(function($){
		// browser window scroll (in pixels) after which the "back to top" link is shown
		var offset = 300,
			//browser window scroll (in pixels) after which the "back to top" link opacity is reduced
			offset_opacity = 1200,
			//duration of the top scrolling animation (in ms)
			scroll_top_duration = 700,
			//grab the "back to top" link
			$back_to_top = $('.cd-top');

		//hide or show the "back to top" link
		$(window).scroll(function(){
			( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
			if( $(this).scrollTop() > offset_opacity ) { 
				$back_to_top.addClass('cd-fade-out');
			}
		});

		//smooth scroll to top
		$back_to_top.on('click', function(event){
			event.preventDefault();
			$('body,html').animate({
				scrollTop: 0 ,
				}, scroll_top_duration
			);
		});
	});
</script>

</html>