<!DOCTYPE html>
<html lang="en">

<head>
	<title>Pens Gate: <%= title %></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/slick.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom:0px; top: 0;" id="mynavbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
				<!-- <a class="navbar-brand" href="/"><img src="/images/logo_edit.png" alt="Logo" style="height: 100%"></a>  -->
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="dropdown nav-push-down">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Services <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#photography">Photography & Video Shooting</a></li>
							<li><a href="#graphic-design">Digital Marketing & Web Design</a></li>
							<li><a href="#outdoorads">Outdoor Advertising</a></li>
							<li><a href="#printing">Printing</a></li>
						</ul>
					</li>
					<li class="nav-push-down"><a href="/portfolio">Portfolio</a></li>
					<li class="whiten-bg"><a href="/"><img src="/images/logo_edit.png" alt="Logo" style="height: 40px;"></a></li>
					<li class="nav-push-down"><a href="/about">About</a></li>
					<li class="nav-push-down"><a href="/contact">Contact Us</a></li>
				</ul>
				<!--<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>-->
			</div>
		</div>
	</nav>
	<!-- <span class="gototop"><a href="#mynavbar">Go To Top</a></span> -->
	<a href="#0" class="cd-top">Top</a>
	<img src="/images/content/photo7.jpg" alt="Photoshooting" style="width: 100%; max-height: 550px;">
	<div class="container text-center">
		<!-- <img src="/images/photography" alt="Photography">  -->
		<h1 class="capitalize" style="font-weight: bold;"><%= title %></h1>
		<div>
			<h2>What is pens gate for photography?</h2>
			<p>Pens gate for photography is a service powered and offered by Pens gate Company created to serve your photography needs in marketing your products and also provide you with a data platform designed to keep track of your products and their details. Using Pens gate for photography can help you show your product in standard, professionally taken photographs in order for you to promote it through various shopping platforms. Should you also wish to photography your product in a more creative way, <span style="font-weight: bold;">Pens gate for shooting’s</span> marketing photography feature is available at your discretion select the types of digital images required for your purposes.</p>
		</div>
		<div class="container-fluid distance">

			<div class="container-fluid">
				<h3><a onclick='$("#sp").show(500)'>Standard photos</a></h3>

				<div id="sp" class="photo-service-content"><img src="/images/content/photo6.jpg" alt="" class="col-sm-4"><p class="col-sm-8">Pens gate for photography applies photography standards in product photography. To help you better showcase your products on multiple e-commerce websites, Pens gate for photography gives you the ability to have them photographed in clear shots. Those shots highlight their details from various angles; therefore giving your customer the visual experience they are looking for in the process of buying your product.</p></div>
			</div>
			<div class="container-fluid">
				<h3><a onclick='$("#ls").show(500)'>Live shots</a></h3>

				<div id="ls" class="photo-service-content"><img src="/images/content/photo5.jpg" alt="" class="col-sm-4">Pens gate for photography also provides a marketing photography feature that will enable you to have your products photographed in a creative way. They will be shot in different innovative settings that present them differently and attractively.</div>
			</div>
			<div class="container-fluid">
				<h3><a onclick='$("#vp").show(500)'>Video production </a></h3>

				<div id="vp" class="photo-service-content"><img src="/images/content/video0.jpg" alt="" class="col-sm-4">To produce a video will surely give you a new way to help you show more details of your product. Pens gate for photography provides a video production service to help you produce a dynamic demonstration of your product and how it made by shooting factories and their product lines.</div>
			</div>
			<div class="container-fluid">
				<h3><a onclick='$("#pp").show(500)'>Product profile </a></h3>

				<div id="pp" class="photo-service-content"><img src="/images/content/photo0.jpg" alt="" class="col-sm-4">With each product you enter into our system, a customized profile is created for your brand that includes its specs, information and photographs. This feature will help you store all your product’s data, description and details on a digital platform that you can access at any time.</div>
			</div>
			<div class="container-fluid">
				<h3><a onclick='$("#dp").show(500)'>360-Degree Photography</a></h3>

				<div id="dp" class="photo-service-content"><img src="/images/content/photo360.jpg" alt="" class="col-sm-4">360-Degree photography is a service provided by Pens gate for photography that presents the product fully and more accurately. It is applied by taking several shots of the product as it moves in a full 360-degree rotation</div>
			</div>
		</div>
	</div>



	<footer>
		<div class="container-fluid text-center">
			<div class="col-sm-3">
				<h4>Contact Us</h4>
				<p>Email: pensgate@hotmail.com - moaz_m40@hotmail.com</p>
				<p><a href="mailto:moaz_m40@hotmail.com">Send us an email</a></p>
				<p>Mobile: (+2) 01001367093</p>
				<hr>
				<!-- <h4>Address</h4> -->
				<!-- <p>221B Baker Street, London, UK</p> -->
			</div>
			<div class="col-sm-5">
				<h4>Services</h4>
				<p><a href="/service/photography">Photography & Video Shooting</a></p>
				<p><a href="/service/digitalmarketing">DIGITAL MARKETING & WEB DESIGN</a></p>
				<p><a href="/service/outdoorads">Outdoor Advertising</a></p>
				<p><a href="/service/printing">Printing</a></p>
			</div>
			<div class="col-sm-4" style="padding: 20px;">
				Find us on <a href="https://www.facebook.com/pensgate/"><img src="/images/facebook.png" alt="facebook" height="20px" style="border-radius: 2px;"></a>
				<a href="https://www.youtube.com/channel/UC4FulWKH8iveAqQm2dDF91Q"><img src="/images/youtube.png" alt="youtube" height="20px"></a>
				<div class="footer-big-links">
					<p><a href="/portfolio">Portfolio</a></p>
					<p><a href="/about">About</a></p>
					<p><a href="/contact">Contact Us</a></p>
				</div>
				<div style="padding-top: 100px;">
					<div>Copy Rights Pens Gate 2017</div>
					<div>Made by <a href="http://www.omarwaleed.com">Omar Waleed</a></div>
				</div>
			</div>
		</div>
	</footer>
</body>

<script>
	jQuery(document).ready(function($){
		// browser window scroll (in pixels) after which the "back to top" link is shown
		var offset = 300,
			//browser window scroll (in pixels) after which the "back to top" link opacity is reduced
			offset_opacity = 1200,
			//duration of the top scrolling animation (in ms)
			scroll_top_duration = 700,
			//grab the "back to top" link
			$back_to_top = $('.cd-top');

		//hide or show the "back to top" link
		$(window).scroll(function(){
			( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
			if( $(this).scrollTop() > offset_opacity ) { 
				$back_to_top.addClass('cd-fade-out');
			}
		});

		//smooth scroll to top
		$back_to_top.on('click', function(event){
			event.preventDefault();
			$('body,html').animate({
				scrollTop: 0 ,
				}, scroll_top_duration
			);
		});
	});
</script>

</html>